@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');
* {
  font-family: 'Playfair', serif;
  text-decoration: none;
}
body {
  margin: 0;
  background-color: #f0e9f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-bottom: 100px;
}
a {
  color: aliceblue;
}